body{
	margin: 0;
	padding: 0;
}
label{
	font-weight: bold;
}
.searchbox.searchbox{
	font-size: 15px;
	padding: 8px 60px 10px;
}
.vertical-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	width: 90%;
}
.leaflet-center {
	left: 50%;
	transform: translate(-50%, 0%);
}
.popover{
	top: 15px !important;
}
.logobox{
	margin-bottom: 10px;				
}
.leaflet-control-layers{
	display: none;
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.marker-cluster span {
	line-height: 30px;
	color: white;
	font-weight: bold;
}
.marker-cluster-idea {
	background-color: rgba(241, 211, 87, 0.6);		
}
.marker-cluster-idea div {		
	background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-formulacion {
	background-color: rgba(255, 143, 0, 0.6);		
}
.marker-cluster-formulacion div {		
	background-color: rgba(255, 143, 0, 0.6);
}
.marker-cluster-evaluacion {
	background-color: rgba(231, 76, 60, 0.6);
}
.marker-cluster-evaluacion div {		
	background-color: rgba(231, 76, 60, 0.6);
}
.marker-cluster-perfil {
	background-color: rgba(5, 165, 72, 0.6);
}
.marker-cluster-perfil div {		
	background-color: rgba(5, 165, 72, 0.6);
}
.marker-cluster-no-viable {
	background-color: rgba(138, 27, 27, 0.856);
}
.marker-cluster-no-viable div {		
	background-color: rgba(138, 27, 27, 0.856);
}
.marker-cluster-expediente {
	background-color: rgba(0, 215, 255, 0.6);
}
.marker-cluster-expediente div {		
	background-color: rgba(0, 215, 255, 0.6);
}
.marker-cluster-ejecucion {
	background-color: rgba(16, 88, 173, 0.6);
}
.marker-cluster-ejecucion div {		
	background-color: rgba(16, 88, 173, 1);
}
.marker-cluster-companies {
	background-color: rgba(0, 0, 0, 0.6);
}
.marker-cluster-companies div {		
	background-color: rgba(0, 0, 0, 0.6);
}
.marker-cluster-college {
	background-color: rgba(0, 92, 230, 0.6);
}
.marker-cluster-college div {		
	background-color: rgba(0, 92, 230, 0.6);
}
.leaflet-control-layers {
	display: block;
}			
.fa-white {
	color: White;
}
.form-control-sm {
	height: auto !important;
	font-size: 12px;
}			
.card .card-header {
	padding: .25rem .65rem;
}
.card-outline-info .card-header {
	background: #1976d2;
	border-color: #1976d2;
}			
.leaflet-control-layers-selector {
	position: relative !important;
	left: 0px !important;
	opacity: 1 !important;
	top: 2px;
}			
.leaflet-popup-content-wrapper{
	background: transparent;
}			
.leaflet-popup-content-wrapper, .leaflet-popup-tip {				
	box-shadow: none;				
}			
.leaflet-popup-content {
	margin: -2px 19px;
}			
.leaflet-popup-close-button {
	display: none;
}			
.card label{
	font-weight: bold;
	margin-bottom: .3rem;
}			
.leaflet-popup .card, .leaflet-popup label, .leaflet-popup input, .leaflet-popup textarea{
	font-size: 11px !important;
}			
.card .card-header{		
	padding: .25rem .65rem;
}			
.card .card-header h6{		
	font-size: 11px;
}			
.card .card-body{
	padding: 0.5rem;
}			
.card-footer:last-child{
	padding: 0.30rem 1.25rem;
}			
.card .form-control {
	color: #67757c;
}			
.not-bottom {
	margin-bottom: 0px;
}			
.card label {
	font-weight: bold;
	margin-bottom: .0rem;
}			
.form-control:disabled, .form-control[readonly]{
	background-color: transparent;
	border: 1px solid #ced4da1f;
}			
.btn-sm{
	font-size: 12px;
}			
.bootstrap-select .dropdown-menu li a span.text{
	font-size: 12px;
}			
.bootstrap-select .dropdown-menu li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-size: 12px;
	line-height: 1.42857143;
	color: #000;
	white-space: nowrap;
}			
.bootstrap-select .dropdown-menu li a:focus, .bootstrap-select .dropdown-menu li a:hover {
	color: #1976d2;
	background: #f2f4f8;
}			
.dropdown-item.active, .dropdown-item:active {
	color: #1976d2;
	background: #f2f4f8;
	text-decoration: none;
}			
.bootstrap-select .dropdown-menu {
	width: 100%;
}			
.form-control-calendar {
    background-image: url(../img/calendar.svg);
	padding-right: 2.25rem;
	background-repeat: no-repeat;
	background-position: center right .5625rem;
	background-size: 1.125rem 1.125rem;
}			
.tab-pane{
	margin-top: 5px;
}			
.fa-idea{
	color: rgba(241, 211, 87, 0.6);
}
.fa-formulacion{				
	color: rgba(254, 142, 0, 1);
}
.fa-evaluacion{
	color: rgba(142, 31, 33, 1);
}
.fa-perfil{
	color: rgba(5, 165, 72, 0.6);
}
.fa-noviable{
	color: rgba(138, 27, 27, 0.856);
}
.fa-expediente{
	color: rgba(0, 215, 255, 0.6);
}
.fa-licitacion{
	color: rgba(0, 0, 0, 0.5);				
}
.fa-adjudicado{
	color: rgba(151, 86, 255, 1);				
}
.fa-desactivado{
	color: rgba(151, 86, 255, 1);				
}
.fa-ejecucion{
	color: rgba(16, 88, 173, 1);				
}
.quantil-1{	
	background: #008f39b3;
}
.quantil-2{
	background: #93c572ad;	
}
.quantil-3{
	background: #ffff006b;
}
.quantil-4{
	background: #ffa5008a;
}
.quantil-5{
	background: #ff00008c;
}
.quantil-0{
	background: #FFB0C3;
}